.Home {
    background-color: #272727;
}

.HomeSlide {
    margin-bottom: 70px;
    margin: 80px 55px 100px 55px;
}

.InfoOne {
    display: flex;
    flex-direction: column;
    margin: 70px auto 90px auto;
}
.InfoOne span:nth-child(1) {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #fcd54c;
    margin-bottom: 40px;
}
.InfoOne span:nth-child(2) {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 69px;
    color: #e8e8e8;
    margin-bottom: 33px;
}
.InfoOne span:nth-child(3) {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #e8e8e8;
}
.VideoLogo {
    width: 94%;
    display: flex;
    margin: auto;
}

.CitateBig {
    border: 1px solid #fcd54c;
    display: flex;
    margin: auto;
    margin-top: 118px;
    margin-bottom: 64px;
    padding: 70px 94px 69px 97px;
}
.CitateBig span {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 160%;
    color: #ffffff;
}
.NameOfCitate {
    color: #fcd54c !important;
}

.InfoHotelRoom {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.InfoHotelRoom div img {
    width: 100%;
    margin-bottom: 70px;
}
.InfoHotelRoom div span {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #e8e8e8;
}

.OneLine {
    width: 58%;
}

@media (max-width: 1440px) {
    .OneLine {
        width: 65%;
    }
}
@media (max-width: 1024px) {
    .InfoOne {
    }
    .OneLine {
        width: 75%;
    }
}
@media (max-width: 768px) {
    .OneLine {
        width: 80%;
    }
    .InfoHotelRoom {
        flex-direction: column;
    }
    .CitateBig {
        padding: 30px 30px 30px 30px;
    }
}
@media (max-width: 425px) {
    .InfoOne span:nth-child(1) {
        margin-bottom: 20px;
    }
    .InfoOne span:nth-child(2) {
        font-size: 50px;
    }
    .InfoOne span:nth-child(3) {
        font-size: 15px;
    }
    .OneLine {
        width: 85%;
    }
    .CitateBig span {
        font-size: 20px;
    }
    .InfoHotelRoom div span {
        font-size: 12px;
    }
}
@media (max-width: 375px) {
    .InfoOne span:nth-child(2) {
        margin-bottom: 20px;
    }
}
@media (max-width: 320px) {
    .OneLine {
        width: 90%;
    }
}
