.Navigation {
    background-color: #272727;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    z-index: 9999;
    width: 94%;
    margin: auto;
    justify-content: space-between;
}
.RightNav {
    display: flex;
    flex-direction: row;
}
.LeftNav {
    display: flex;
    flex-direction: row;
}
.logo {
    display: flex;
    width: 184px !important;
    height: 63px;
    object-fit: fill;
}

.pages {
    margin-left: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
    color: #ffffff;
}

.fa-caret-down {
    color: white;
    display: block;
    font-size: 20px;
}

.Buy div {
    display: flex;
    flex-direction: row;
}
.Buy div a,
.BlogA,
.AboutA,
.ContactsA {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
.Buy div i {
    margin-left: 5px;
}

.BuyO,
.BlogO,
.AboutO,
.ContactsO {
    position: absolute;
    display: none;
    margin-top: 0px;
    width: 247px;
    height: 113px;
    background-color: #272727;
    border: 1px solid #979797;
    color: white;
    transition: 0.5s;
    z-index: 9999;
}

.BuyO li,
.BlogO li,
.AboutO li,
.ContactsO li {
    width: 100%;
    padding: 10px 0 10px 20px;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.25s;
}

.Buy div:hover > .BuyA,
.BlogA:hover,
.AboutA:hover,
.ContactsA:hover {
    color: #fcd54c;
    cursor: pointer;
    text-decoration: none;
    background: no-repeat 0 0;
    background-size: 0% 4px;
    transition: 0.5s;
}

.buy div:hover > .BuyA,
.buy div:focus > .BuyA,
.BlogA:hover,
.BlogA:focus,
.AboutA:hover,
.AboutA:focus,
.ContactsA:hover,
.ContactsA:focus {
    color: #fcd54c;
    cursor: pointer;
    background-size: 100% 2px;
    transition: 0.5s;
}

.BuyO li:hover {
    background-color: #fcd54c;
    color: #272727;
    transition: 0.25s;
}

.Buy:hover > .BuyO {
    display: block;
}

.Buy div i {
    transition: 0.5s;
}

.Buy:hover > div i {
    transform: rotate(180deg);
    transition: 0.5s;
}

.button {
    display: flex;
    align-items: center;
    right: 0;
}
.button button {
    transition: 0.25s;
}
.button button:hover {
    transition: 0.25s;
    box-shadow: 0px 0px 10px 2px rgba(255, 200, 0, 0.75);
}

.button button {
    cursor: pointer;
    background-color: #fcd54c;
    width: 165px;
    height: 41px;
    border: none;
}

.translate {
    margin-left: 120px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #ffffff;
}

.tel {
    margin-left: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 130px !important;
}
.tel a {
    transition: 0.5s;
    color: #ffffff;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #ffffff;
}
.tel a:hover {
    color: #fcd54c;
    transition: 0.5s;
}

@media (max-width: 1440px) {
    .pages {
        margin-left: 30px;
        gap: 20px;
    }
    .translate {
        margin-left: 40px;
    }
    .tel {
        margin-left: 30px;
    }
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 425px) {
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
}
